@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Bebas+Neue&family=Creepster&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+IN:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Vinyl&family=Rubik+Wet+Paint&family=Smooch+Sans:wght@100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
.rubik-wet-paint-regular {
    font-family: "Rubik Wet Paint", serif;
    font-weight: 400;
    font-style: normal;
  }
.playwrite-in {
    font-family: "Playwrite IN", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }
.smooch-sans{
    font-family: "Smooch Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}
.container{
    width: 100%;
    height: 100vh;
}
.first{
    font-family: "Smooch Sans", serif;
    background-color: transparent;
    overflow:hidden;
}
.first ul{
    width: 100%;
    list-style: none;
    color: grey;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.first li{
    height: auto;
}
.first a{
    text-decoration: none;
    color: rgb(84, 84, 84);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 30px 50px;
}
.first li:first-child{
    font-family: "Playwrite IN", serif;
    margin-right: auto;
    margin-left: 30px;
    font-size: 25px;
    font-weight: 150px;
    color: black;
}
.body {
    background: rgb(238,174,202);
    background: linear-gradient(45deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 76%);
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 940px;
  margin: auto;
}
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  min-height: 250px;
}
.tag {
  background-color: #ccc;
  color: #fff;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  padding: 2px 10px;
  text-transform: uppercase;
}
.tag-teal {
  background-color: #92d4e4;
}
.tag-purple {
  background-color: #3d1d94;
}
.tag-pink {
  background-color: #c62bcd;
}
.card-body h4 {
  margin: 10px 0;
}
.card-body p {
  font-size: 14px;
  margin: 0 0 40px 0;
  font-weight: 500;
  color: rgb(70, 68, 68);
}
.user {
  display: flex;
  margin-top: auto;
}
.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #888785;
}
@media (max-width: 940px) {
  .container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
